@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Almarai&family=Archivo&family=Caveat&family=IBM+Plex+Sans&family=Kalam&family=Kaushan+Script&family=Mali&family=Shalimar&family=Work+Sans&family=Shojumaru&family=Space+Grotesk&display=swap');
body {
  margin: 0;
  background: url(../Images/background.webp) no-repeat;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
